<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <nav class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>Add Event</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Save</button>
</form>
</body>
</html>