<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}"><button class="btn"><img src="/assets/cloud.png" alt="cloud Icon" class="button-icon" />
                    Home</button></a></li>
                <li><a href="{% url 'event_list' %}"><button class="btn"><img src="/assets/list.png" alt="list Icon" class="button-icon" />
                    Event List</button></a></li>
                <li><a href="{% url 'add_event' %}"><button class="btn"><img src="/assets/write.png" alt="write Icon" class="button-icon" />
                    Add Event</button></a></li>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="text-box">
        <h2>Add Event</h2>
        <form method="POST">
          {% csrf_token %}
      
          <!-- Event Fields -->
          <div>
              {{ form.name.label_tag }} {{ form.name }}
          </div>
          <div>
              {{ form.description.label_tag }} {{ form.description }}
          </div>
          <div>
              {{ form.date.label_tag }} {{ form.date }}
          </div>
          <div>
              {{ form.guests.label_tag }} {{ form.guests }}
          </div>
      
          <!-- Location Fields -->
          <div>
              <label for="id_location_name">Location Name:</label>
              <input type="text" name="location_name" id="id_location_name">
          </div>
          <div>
              <label for="id_location_address">Location Address:</label>
              <textarea name="location_address" id="id_location_address"></textarea>
          </div>
      
          <button type="submit" class="btn btn-primary">Add Event</button>
        </form>
    </div>
</body>

</html>