<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}"><button class="btn"><img src="/assets/cloud.png" alt="cloud Icon" class="button-icon" />
                    Home</button></a></li>
                <li><a href="{% url 'event_list' %}"><button class="btn"><img src="/assets/list.png" alt="list Icon" class="button-icon" />
                    Event List</button></a></li>
                <li><a href="{% url 'add_event' %}"><button class="btn"><img src="/assets/write.png" alt="write Icon" class="button-icon" />
                    Add Event</button></a></li>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <h2>{{ event.name }}</h2>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Date:</strong> {{ event.date }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Guests:</strong></p>
    <ul>
        {% for guest in event.guests.all %}
            <li>{{ guest.username }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'event_list' %}">Back to Events</a>
</body>

</html>