<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
    <title>Home</title>
</head>


<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}"><button class="btn"><img src="/assets/cloud.png" alt="cloud Icon" class="button-icon" />
                    Home</button></a></li>
                <li><a href="{% url 'event_list' %}"><button class="btn"><img src="/assets/list.png" alt="list Icon" class="button-icon" />
                    Event List</button></a></li>
                <li><a href="{% url 'add_event' %}"><button class="btn"><img src="/assets/write.png" alt="write Icon" class="button-icon" />
                    Add Event</button></a></li>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
    <div class="text-box">
        <h3>Your Events:</h3>
        <ul>
            {% if user_events %}
                {% for event in user_events %}
                    <li>
                        <strong>{{ event.name }}</strong> <br>
                        {{ event.date|date:"F j, Y, g:i a" }} <br>
                        {{ event.location.name }} - {{ event.location.address }} <br>
                        <a href="{% url 'event_detail' event.id %}">View Details</a>
                    </li>
                {% endfor %}
            {% else %}
                <li>You have not created any events yet.</li>
            {% endif %}
        </ul>
    </div>
</body>

</html>